<h3><%- data.name %> <small><a href="/module/<%- data.name %>">permalink</a></small></h3>
<p><%- data.description %></p>
<dl>

<dt>Latest release</dt>
<dd><%- data['dist-tags'].latest %> (<%- new Date(data.time[data['dist-tags'].latest]).toLocaleString() %>) of <%- Object.keys(data.versions).length %> releases</dd>

<dt>NPM page</dt>
<dd><a href="https://www.npmjs.com/package/<%- data.name %>">https://www.npmjs.com/package/<%- data.name %></a></dd>

<% if (data.versions[data['dist-tags'].latest].homepage) { %>
<dt>Homepage</dt>
<dd><a href="<%- data.versions[data['dist-tags'].latest].homepage %>"><%- data.versions[data['dist-tags'].latest].homepage %></a></dd>
<% } %>

<% if (data.versions[data['dist-tags'].latest].license) { %>
<dt>License</dt>
<dd><%- data.versions[data['dist-tags'].latest].license %></dd>
<% } %>

<% if (data.versions[data['dist-tags'].latest].author) { %>
<dt>Author</dt>
<% if (data.versions[data['dist-tags'].latest].author.name) { %>
<dd><%- data.versions[data['dist-tags'].latest].author.name %></dd>
<dd><%- data.versions[data['dist-tags'].latest].author.email %></dd>
<% } else { %>
<dd><%- data.versions[data['dist-tags'].latest].author %></dd>
<% } %>
<% } %>

<% if (data.versions[data['dist-tags'].latest].authors) { %>
<dt>Authors</dt>
<% data.versions[data['dist-tags'].latest].authors.forEach(function (m) { %>
<% if (m.name) { %>
<dd><%- m.name %></dd>
<dd><%- m.email %></dd>
<% } else { %>
<dd><%- m %></dd>
<% } %>
<% }) %>
<% } %>

<% if (data.versions[data['dist-tags'].latest].maintainers) { %>
<dt>Maintainers</dt>
<% data.versions[data['dist-tags'].latest].maintainers.forEach(function (m) { %>
<% if (m.name) { %>
<dd><%- m.name %></dd>
<dd><%- m.email %></dd>
<% } else { %>
<dd><%- m %></dd>
<% } %>
<% }) %>
<% } %>

<% if (data.versions[data['dist-tags'].latest].engines && data.versions[data['dist-tags'].latest].engines.node) { %>
<dt>Node version</dt>
<dd><%- data.versions[data['dist-tags'].latest].engines.node %></dd>
<% } %>

<% if (data.versions[data['dist-tags'].latest].dependencies) { %>
<dt>Dependencies</dt>
<% _.forEach(data.versions[data['dist-tags'].latest].dependencies, function (v, k) { %>
<dd>
<a href="/deps/<%- k %>"><%- k %></a>
</dd>
<% }) %>
<% } %>

<% if (data.versions[data['dist-tags'].latest].keywords && data.versions[data['dist-tags'].latest].keywords.length) { %>
<dt>Keywords</dt>
<dd class="small button-group">
<% data.versions[data['dist-tags'].latest].keywords.forEach((tag) => { %>
  <a
  <% if (data.ch) { %>
    style="background: <%- data.ch.hex(tag) %>"
  <% } %>
  class="button" href="/fresh/<%- tag %>">
    <%- tag %>
  </a>
<% }) %>
</dd>
<% } %>
</dl>
