<%= partials.head(data) %>
<div class="row column">
  <h2>
    <%- data.nModules %> locally known modules
    <small>
    <% if (data.keyword) { %>
        <%- data.keyword %>
        <a href="/<%- data.pathparts[0] %>">any keyword</a> |
    <% } %>
        <a href="/keywords">keywords</a>
    </small>
  </h2>
<%= partials.pager(data) %>
<div class="row small-up-2 medium-up-3 large-up-4" data-equalizer data-equalize-by-row="true">
<%
  data.modules.forEach((moduleFull) => {
    var module = moduleFull.doc.versions[moduleFull.doc['dist-tags'].latest]
%>
  <div class="column">
    <div class="callout" data-equalizer-watch>
      <h4 data-module="<%- module.name %>"><%- module.name %> <small><%- moduleFull.doc['dist-tags'].latest %></small></h4>
      <p><%- new Date(moduleFull.doc.time[moduleFull.doc['dist-tags'].latest]).toLocaleString() %></p>
      <p><%- module.description %></p>
      <% if (module.keywords && module.keywords.length) { %>
      <p class="small button-group">
      <% module.keywords.forEach((tag) => { %>
        <a
        <% if (data.ch) { %>
          style="background: <%- data.ch.hex(tag) %>"
        <% } %>
        class="button" href="/<%- data.pathparts[0] %>/<%- tag %>">
          <%- tag %>
        </a>
      <% }) %>
      </p>
      <% } %>
    </div>
  </div>
<% }) %>
</div>
<%= partials.pager(data) %>
</div>
<div class="reveal" data-reveal data-close-on-click="true" data-close-on-esc="true" data-animation-in="slide-in-down" data-animation-out="slide-out-down" id="module-modal"></div>
<%= partials.foot(data) %>
