<%= partials.head(data) %>
<div class="row column">
  <h2>
    <%- data.nModules %> locally known modules
    <% if (data.keyword) { %>
      <small>
        <%- data.keyword %>
        (<a href="/all">any keyword</a> |
        <a href="/keywords">keywords</a>)
      </small>
    <% } %>
  </h2>
<%= partials.pager(data) %>
<div class="row small-up-2 medium-up-3 large-up-4" data-equalizer data-equalize-by-row="true">
<%
  data.modules.forEach((moduleFull) => {
    var module = moduleFull.doc.versions[moduleFull.doc['dist-tags'].latest]
%>
  <div class="column">
    <div class="callout" data-equalizer-watch>
      <h4><%- module.name %> <small><%- moduleFull.doc['dist-tags'].latest %></small></h4>
      <p><%- module.description %></p>
      <% if (module.keywords && module.keywords.length) { %>
      <p class="small button-group">
      <% module.keywords.forEach((tag) => { %>
        <a class="button" href="/all/<%- tag %>"><%- tag %></a>
      <% }) %>
      </p>
      <% } %>
    </div>
  </div>
<% }) %>
</div>
<%= partials.pager(data) %>
</div>
<%= partials.foot(data) %>
