<%= partials.head(data) %>
<div class="row column">
  <h2>Locally known keywords <small><%- data.nKeywords %></small></h2>
<%= partials.pager(data) %>
<div class="row small-up-2 medium-up-3 large-up-4" data-equalizer data-equalize-by-row="true">
<% data.keywords.forEach((keyword) => { %>
  <% if (false && keyword.value < 2) { return } %>
  <div class="column">
    <a href="/all/<%- keyword.key[0] %>">
      <div class="callout" data-equalizer-watch>
        <h4><%- keyword.key[0] %> <small><%- keyword.value %></small></h4>
      </div>
    </a>
  </div>
<% }) %>
</div>
<%= partials.pager(data) %>
</div>
<%= partials.foot(data) %>
