<%= partials.head(data) %>
<div class="row column">
  <h2>Modules available on npm registry</h2>
<%= partials.pager(data) %>
<div class="row small-up-2 medium-up-3 large-up-4" data-equalizer data-equalize-by-row="true">
<% data.modules.forEach((module) => { %>
  <div class="column">
    <div class="callout" data-equalizer-watch>
      <h4><%- module.id %></h4>
      <p><%- module.description %></p>
      <p>
      <% module.tags.forEach((tag) => { %>
        <a class="button <%- tag.labelClass %>" href="/fresh/<%- tag.keyword %>"><%- tag.keyword %></a>
      <% }) %>
      </p>
    </div>
  </div>
<% }) %>
</div>
<%= partials.pager(data) %>
</div>
<%= partials.foot(data) %>
